.Nav {
  font-family: 'Source Sans Pro', sans-serif;
}
.Nav .main-nav {
  height: 45px;
  margin: 28px 0;
  width: 100%;
  justify-content: space-betweenc;
}
@media(min-width: 680px) {
  .Nav .main-nav {
    width: 100%;
    justify-content: space-between;
  }
}

.Nav .main-nav .logo-wrap {
  margin-bottom: 10px;
}
@media(min-width: 680px) {
  .Nav .main-nav .logo-wrap {
    margin-bottom: 0;
    flex:1;
  }
}

.Nav .nav-items a {
  margin: 0 16px;
  font-weight: bold;
  color: #2aa6f6;
  height: 44px;
  line-height: 44px;
  display: none;
}

@media(min-width: 680px) {
  .Nav .nav-items a {
    display: inline-block;
    margin: 0 32px;
  }
}
.Nav .nav-items a.darkblue {
  color: #0072bb;
}

.button-wrapper {
  flex-direction: column;
  justify-content: center;
}

.Nav .nav-items a.button {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  height: 38px;
  line-height: 36px;
  padding: 0 20px;
  color: #fff;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  display: none;
}
@media(min-width: 680px) {
  .Nav .nav-items a.button {
    display: inline-block;
  }
}