.Team {
  margin-top: 120px;
}

.Team > h1 {
  text-align: center;
  font-size: 44px;
  color: #0072bb;
}

.Team-members {
  margin-bottom: 60px;
}
@media(min-width: 480px) {
  .Team-members {
    margin-bottom: 0;
  }
}
.Team-member {
  width: 47%;
  min-width: 300px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media(min-width: 480px) {
  .Team-member {
    margin: 30px 0;
    min-width: 0;
    text-align: left;
  }
}
.Team-member-photo {
  width: 200px;
  height: 220px;
  background: top center no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-right: 42px;
  margin: 15px auto;
}
.photo-and-socials-wrapper {
  flex: 1;
}
@media(min-width: 480px) {
  .photo-and-socials-wrapper {
    margin: 0 42px 0 0;
    height: 220px;
  }
}
.name-and-description-wrapper {
  flex: 1;
  min-width: 240px;
}
.Team-member h1 {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  margin: 4px 0;
}
@media(min-width: 480px) {
  .Team-member h1 {
    text-align: left;
  }
}
.Team-member-tagline {
  color: #666666;
  font-weight: bold;
}
.Team-member p {
  color: #8c8c8c;
  max-width: 80vw;
  margin: 20px auto;
}
