.Team {
  margin-top: 120px;
}

.Team > h1 {
  text-align: center;
  font-size: 44px;
  color: #0072bb;
}

.Team-members {
    
}
.Team-member {
  width: 47%;
  margin: 60px 0;
}
.Team-member h1 {
  text-align: left;
  font-size: 28px;
  margin: 4px 0;
}
.Team-member-tagline {
  color: #666666;
  font-weight: bold;
}
.Team-member p {
  color: #8c8c8c;
}
