.Footer {
  background: #0072bb;
  color: #fff;
  text-align: center;
}

.Footer-top {
  width: 100%;
}

.Footer h1 {
  font-size: 44px;
  margin: 20px 0;
}

.Footer h2 {
  font-weight: normal;
  margin: 0;
}

.Footer-info {
  text-align: left;
  margin-top: 50px;
  width: 360px;
  max-width: 100%;
  text-align: left;
  padding: 0 50px;
}
@media(min-width: 480px) {
  .Footer-info {
    padding: 0;
    margin-right: 64px;
  }
}

.Footer-socials {
  margin-top: 50px;
  padding: 18px 0;
  margin-bottom: 140px;
  text-align: center;
  width: 100%;
}
@media(min-width: 480px) {
  .Footer-socials {
    width: auto;
  }
}
.Footer-icon {
  margin: 0 28px;
}
