.ProblemsWeSolve {
  padding: 80px;
  color: #0072bb;
  width: 100%;
}
.ProblemsWeSolve > div {
  flex: 1;
}
.ProblemsWeSolve h1 {
  font-size: 44px;
  line-height: 50px;
  text-align: left;
  margin-right: 22px;
}
.ProblemsWeSolve dl {
  margin-top: 90px;
}
.ProblemsWeSolve dt {
  flex: 0 1 50%;
  font-weight: bold;
  font-size: 1.4em;
}
.ProblemsWeSolve dd {
  flex: 1 0 40%;
  margin-bottom: 80px;
}
.ProblemsWeSolve dd > p:first-child {
  margin-top: 0;
}

.ProblemsWeSolve-problemsList {
  background: #f9f9f9;
  color: #767676;
  padding: 50px;
  border-radius: 50px;
  margin-left: 22px;
  margin-top: -12px;
  width: 650px;
  max-width: 100%;
}
.ProblemsWeSolve-problemsList section {
  margin-bottom: 120px;
}
.ProblemsWeSolve-problemsList h2 {
  margin: 0;
  color: #0072bb;
}
