.Investors {
  display: flex;
  justify-content: space-between;
}
.Investors img {
  max-width: 100%;
}

@media (min-width: 480px) {
  .Investors > * {
    flex: 1;
  }
}
.Investors-investor {
  position: relative;
  margin-bottom: 140px;
  color: #777777;
  text-align: center;
  margin-top: 60px;
}
@media(min-width: 480px) {
  .Investors-investor {
    text-align: left;
    margin-top: 0;
  }
}
.Investors-title {
  min-width: 300px;
}
.Investors-investor h1 {
  font-size: 44px;
  color: #0072bb;
  margin: 4px 0;
}
.Investors-investor a {
  color: #40b1f3;
  display: inline-block;
  margin: 10px 0;
  text-transform: lowercase;
  font-weight: bold;
}
.Investors-investor a::after {
  content: " >";
}
.Investors-investor img {
  display: block;
  margin: 40px auto;
}
@media (min-width: 480px) {
  .Investors-investor img {
    position: absolute;
    top: -15px;
    right: 0;
  }
}