.Solution {
  color: #fff;
  background: #30afff;
  background: -moz-linear-gradient(45deg, #30afff 0%, #0072bb 50%, #0072bb 100%);
  background: -webkit-linear-gradient(45deg, #30afff 0%,#0072bb 50%,#0072bb 100%);
  background: linear-gradient(45deg, #30afff 0%,#0072bb 50%,#0072bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30afff', endColorstr='#0072bb',GradientType=1 );
}
@media(min-width: 480px) {
  .Solution {
    padding: 80px;
  }
}
.Solution > .max-width {
  width: 1000px;
}
.Solution > .max-width > * {
  flex: 1;
}
.Solution h1 {
  font-size: 44px;
  line-height: 50px;
  text-align: left;
  margin-right: 22px;
}

.Solution dl {
  margin-top: 90px;
  color: #fff;
  padding: 50px;
  border-radius: 50px;
  margin-left: 22px;
  margin-top: -12px;
  width: 650px;
  max-width: 100%;
}
.Solution dt {
  margin: 0;
  color: #fff;
}
.Solution dd {
  margin: 0;
  margin-bottom: 80px;
}
.Solution dd > p:first-child {
  margin-top: 0;
}
