<section class="Intro">

  <div class="max-width">

    <div class="flex">

      <!-- Page left (desktop) -->
      <div>

        <h1 class="Intro-title">
          Buy, manage and
          trade your coins with
          <em>CoinCollect</em>
        </h1>

        <div class="Intro-available-on">
          Available soon on Android & iOS!
        </div>

        <div class="Intro-cta-wrapper">
          <a href="https://coincollect.us19.list-manage.com/subscribe?u=fea973e7599186bcdb671c103&id=fe1018d331" target="_blank" class="button gold margin-right">
            Stay up-to-date
          </a>
          <a href="#" class="button white" style="display: none;">
            Learn about our coin
          </a>
        </div>

      </div>

      <!-- Page right (desktop) -->
      <article class="Intro-community">
        <header class="Intro-community-header">
          1.000x1.000
          <small>Airdrop</small>
        </header>
        <div class="Intro-community-tag">
          1.000 coins to 1.000 people
        </div>
        <div class="Intro-community-body">
          Join our community and stay tuned for further details on the community airdrop.
          <p class="Intro-community-ctas">
            <a href="https://coincollect.us19.list-manage.com/subscribe?u=fea973e7599186bcdb671c103&id=fe1018d331" target="_blank" class="Intro-community-cta">Subscribe to our newsletter &raquo;</a> 
            <a href="https://discord.gg/tYvguCv" target="_blank" class="Intro-community-cta">Find our community channels &raquo;</a> 
          </p>
        </div>
      </article>

    </div>

  </div>

</section>