.Mission {
  width: 970px;
  max-width: 100%;
  padding: 80px;
  margin: 80px auto 140px auto;
  text-align: center;
  color: #0072bb;
  background: #f2f2f2;
}

.Mission h1 {
  font-size: 44px;
}
.Mission p {
  font-size: 28px;
  line-height: 38px;
}
