.Intro {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 25px 25px;
}

@media(min-width: 680px) {
  .Intro {
    padding: 128px 0;
  }
}

.Intro-title {
  width: 100%;
  max-width: 640px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #333;
  font-size: 30px;
  line-height: 60px;
}

.Intro-subTitle {
  font-size: 30px;
  font-weight: normal;
  margin: 10px 0;
}
@media(min-width: 680px) {
  .Intro-title {
    font-size: 50px;
  }
}

.Intro-title em {
  font-weight: bold;
}

.Intro-cta-wrapper {
  margin-top: 52px;
}
.Intro-cta-wrapper > a:first-child {
  margin-right: 20px;
}

@media(min-width: 680px) {
  .Intro-available-on {
    font-size: 20px;
    margin-top: 80px;
  }
}

.Intro-key-points {
  text-align: right;
  margin-top: -8px;
}
.Intro-key-points > div {
  margin: 16px 0;
}