
<div class="max-width">

  <nav class="main-nav flex">

    <div class="logo-wrap">
      <img src="https://i.imgur.com/7vlG3YE.png" alt="CoinCollect logo" />
    </div>

    <div class="nav-items flex">
      <!--
      <a href="/" style="display: none">
        Home
      </a>
      <a href="#" style="display: none">
        Features
      </a>
      <a href="#" style="display: none">
        Team
      </a>
      <a href="#" style="display: none">
        Community
      </a>
      -->
      <a href="http://ccl.explorer.dexstats.info/" title="Launch the CC explorer" target="_blank" class="button blue">
        Our coin
      </a>
    </div>

  </nav>

</div>
