.App {
  font-size: 18px;
  line-height: 26px;
}

.App-cta-wrapper {
  margin: 125px auto;
  justify-content: center;
}
.App-cta-wrapper a {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 300px;
  max-width: 100%;
}

